# Virtualenv
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Outils / IDE
.idea/
.vscode/
*.swp
*.swo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
